<h1>Liste des auteurs</h1>

{% if authors is defined and authors is not empty %}
    {% set total_books = 0 %}

    {# Boucle pour calculer le total #}
    {% for author in authors %}
        {% set total_books = total_books + author.nb_books %}
    {% endfor %}

    <p><strong>Nombre total d’auteurs :</strong> {{ authors|length }}</p>
    <p><strong>Nombre total de livres :</strong> {{ total_books }}</p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Nombre de livres</th>
            <th>Photo</th>
        </tr>

        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.username|upper}}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.nb_books }}</td>
                <td><img src="{{ author.picture }}" alt="{{ author.username }}" width="80"></td>
                <td>
                    <a href="{{ path('id-auteur', {id: author.id}) }}">Details</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun auteur trouvé.</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Aucune donnée à afficher. La liste est vide ou non définie.</p>
{% endif %}
