<h1>Détails de l'auteur</h1>

<img src="{{ author.picture }}" alt="{{ author.username }}" width="150">
<p><strong>Nom : </strong>{{ author.username }}</p>
<p><strong>Email : </strong>{{ author.email }}</p>
<p><strong>Nombre de livres : </strong>{{ author.nb_books }}</p>

<a href="{{ path('authors_list') }}">Retour à la liste</a>
